/* * {
  border: solid 1px red;
} */

* {
  box-sizing: border-box;
}

.main-container {
  margin: 3rem auto;
  max-width: 95vw;
  padding: 0 1rem;
}

header {
  margin-bottom: 2.5rem;
  border-bottom: solid 4px #6cf;
  /* overflow: hidden; */
}

header > ul {
  list-style: none;
  float: right;
  margin-bottom: 2px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(minmax(200px, 1fr)); */
  grid-gap: 20px;
}

.projects {
  margin-bottom: 10vh;
}

.screenshot {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.screenshot:hover {
  /* border: solid 1px rgba(0, 0, 0, 0.2); */
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  transform: scale(1.02);
  border-radius: 5px;
}

.card-body {
  color: black;
}

.card-body:hover {
  color: tomato;
}

.contact-icons {
  list-style: none;
  display: flex;
  margin-top: 1.4rem;
}

.icons {
  color: rgb(19, 18, 18);
  margin: 5px 10px;
}

.icons:hover {
  color: tomato;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-color: #6cf;
  z-index: -2;
  margin-top: 10px;
} */

@media screen and (max-width: 600px) {
  .header-links {
    margin-top: 0.3rem;
  }
}
